@import 'sass/mixins.sass'
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=cyrillic')

$red: #dd3e00
$grey: #ebebeb
$black: #000
$a: ease-out .12s

.fb-row
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(center)

.fb-row-center
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(center)
	+align-items(center)

.fb-row-top
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(flex-start)

.fb-row-start
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(flex-start)
	+align-items(flex-start)

.clearfix:after 
	content: ''
	display: block
	clear: both 
	height: 0
	visibility: hidden

//

body 
	line-height: 1.4
	font-size: 16px
	font-family: 'Montserrat'

p 
	font-weight: 500
	
.wrap
	width: 100%
	max-width: 1180px
	padding: 0 20px
	margin: 0 auto




.header
	background: #fff
	padding: 25px 0
	position: fixed
	left: 0
	top: 0
	width: 100%
	z-index: 90
	box-shadow: 0 5px 30px 0 rgba(0,0,0, .15)
	transition: ease-out .3s

	&.toFixed
		padding: 18px 0

	&.hideUp
		transform: translateY(-102%)

.logo
	display: inline-block

	img
		display: block
		width: auto

.navigation
	a 
		color: $black
		margin: 0 4px
		font-size: 15px
		font-weight: 500

		&:hover
			text-decoration: underline



.promo
	overflow-x: hidden


.action-button
	position: relative
	z-index: 10
	display: block
	width: max-content
	background: $red
	cursor: pointer
	text-align: center
	font-weight: 600
	color: #fff
	padding: 0 30px
	border-radius: 50px
	height: 60px
	line-height: 60px 
	transition: $a

	&:hover
		box-shadow: 0 5px 40px 0 rgba(0,0,0, .3)
		background: lighten($red, 4%)
		transition: $a

.promo-first
	padding: 200px 0 1px
	background: #ececec

.promo-first__action-container
	padding-top: 50px

	img
		display: block
		margin-bottom: 40px
		width: 100%
		max-width: 480px

	p 
		max-width: 400px
		margin: 0 0 60px

.promo-first__info
	

.promo-first__info-col
	position: relative
	z-index: 10
	width: 500px

.promo-first__info-item
	position: relative
	border-radius: 30px
	padding: 20px 20px 20px 25px
	width: 240px
	margin-bottom: 25px

	&.zero-1
		background: #fff
		padding-top: 50px

		img
			position: absolute
			left: 90px
			top: -38px

	&.zero-2
		background: #f9f9f9
		position: absolute
		right: 0
		top: 90px
		padding-top: 70px

		img
			position: absolute
			left: 25px
			top: -38px
	
	&.zero-3
		background: linear-gradient(60deg, #ffd9ca, #b3e8f3)
		padding-top: 25px
		padding-bottom: 65px

		img
			position: absolute
			left: 70px
			bottom: -38px

.promo-details
	display: block
	color: #000
	text-align: center
	position: relative
	font-weight: 600
	font-size: 22px
	margin-bottom: 120px
	cursor: pointer
	padding-top: 80px

	&:after
		display: block
		position: absolute
		content: '\2193'
		left: 50%
		transform: translateX(-50%)
		bottom: -50px
		font-size: 50px

.promo-second
	position: relative
	min-height: 450px
	padding: 80px 0 0
	background: #0094a7

	&:after
		content: ''
		position: absolute
		z-index: 0
		right: -30px
		top: -332px
		width: 350px
		height: 400px
		background: url(../img/promo-right-ic.png) center no-repeat
		background-size: cover

	&:before
		content: ''
		position: absolute
		z-index: 0
		left: 0px
		bottom:  0px
		width: 180px
		height: 220px
		background: url(../img/promo-left-ic.png) right no-repeat
		background-size: cover


	.fb-row-center
		+align-items(flex-start)

	&__item
		width: 33%
		padding-right: 80px
		padding-left: 40px
		margin-bottom: 70px
		color: #fff
		position: relative
		z-index: 10

		&:after
			position: absolute
			content: ''
			top: 0
			right: 60px
			width: 1px
			height: 100px
			background: #fff

		span 
			position: absolute
			left: 0
			top: 0
			font-size: 16px
			font-weight: 900

		p
			margin: 0

		strong
			display: block
			font-size: 36px


.problems
	background: $grey
	padding-top: 70px
	padding-bottom: 70px

	h2
		font-size: 36px
		text-align: center
		margin: 0 0 50px

.problems__col
	width: 31%

	&:nth-child(1)
		.problems__item:after
			position: absolute
			z-index: 0
			content: ''
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: url(../img/problems-img-1.png) center no-repeat
			background-size: cover

	&:nth-child(3)
		.problems__item:after
			position: absolute
			z-index: 0
			content: ''
			width: 250px
			height: 150px
			right: 0
			bottom: 0
			background: url(../img/problems-img-2.png) center no-repeat
			background-size: cover

	.action-button
		margin: 100px auto 0

.problems__item
	position: relative
	
	border-radius: 30px
	overflow: hidden
	background: #fff
	min-height: 200px
	padding: 35px 25px 25px 40px

	h3
		position: relative
		z-index: 5
		font-size: 30px

	span 
		position: relative
		z-index: 5
		color: #007689
		font-weight: 700

	p 
		position: relative
		z-index: 5
		font-size: 15px

		&:before
			position: absolute
			content: '-'
			left: -15px
			top: 0

	
.example
	position: relative
	padding-top: 70px
	background: url(../img/exp-bg.png) center no-repeat
	background-size: cover


	h2
		font-size: 36px
		text-align: center
		margin: 0 0 70px
		color: #fff

	.fb-row 
		+align-items(flex-end)

.example__img
	display: block
	width: 27%

	&:nth-child(2)
		width: 36%
		transform: translateX(50px)

	&--mob 
		display: none


.tarrifs
	padding-top: 100px
	background: $grey
	padding-bottom: 120px

	h2
		font-size: 36px
		text-align: center
		margin: 0 0 70px

.tarrifs__item
	position: relative
	background: #fff
	border-radius: 30px
	padding: 30px
	width: 31%

	h3
		font-size: 24px
		position: relative
		z-index: 5

	p
		position: relative
		z-index: 5
		margin-bottom: 30px

	&.ti__1
		padding-top: 350px
		
		.tarrifs__item-img
			right: -22px
			top: -26px
			width: 400px

	&.ti__2
		padding-bottom: 330px
		
		.tarrifs__item-img
			right: 0px
			bottom: -50px
			width: 350px

	&.ti__3
		position: relative
		padding-top: 260px

		&:after
			content: ''
			width: 130px
			height: 100px
			background: url(../img/tarrifs-33-ic.png) center no-repeat
			background-size: cover
			position: absolute
			right: -3px
			bottom: 0
		
		.tarrifs__item-img
			left: -57px
			top: 0px
			width: 350px

.tarrifs__item-img
	position: absolute
	z-index: 0



.comments
	padding: 80px 0 100px
	background: #fff url(../img/comments-bg.png) left no-repeat
	background-size: contain


.comments-promo-conteiner
	position: absolute
	width: 100%
	height: 100%

.comments-promo
	width: 100%
	max-width: 450px

	h2
		font-size: 40px
		margin: 0 0 25px

	span 
		color: #007689
		font-weight: 700

	.comments-promo-heading
		margin-bottom: 100px

.comments-list
	width: 55%
	float: right

.comments-list__item
	position: relative
	box-shadow: 0 10px 70px 0 rgba(0,0,0, .14)
	border-radius: 50px 0px 0 50px
	font-size: 0
	margin-bottom: 50px
	background: #fff

	&-info 
		position: relative
		display: inline-block
		vertical-align: top
		font-size: 15px
		width: 60%
		padding: 35px 40px

		h3
			margin: 0
			font-size: 22px

		h4
			margin: 0px 0 10px
			color: #208394

		p 
			margin: 0

	&-photo
		position: absolute
		right: 0
		top: 0
		object-fit: cover
		width: 40%
		height: 100%




.footer
	padding: 20px 0 40px
	background: #0094a7

.footer-action-button
	@extend .action-button
	width: 100%	
	max-width: 450px
	margin: 0 auto
	transform: translateY(-50px)

.footer-soc
	a 
		display: inline-block
		vertical-align: middle
		margin: 0 15px 0 0

		img 
			display: block

.footer-privacy
	color: #fff
	text-decoration: underline


.modal-container
	display: none
	position: fixed

	overflow-y: scroll
	left: 0
	top: 0
	z-index: 100
	width: 100%
	height: 100%
	background: rgba(0,0,0, .7)
	color: #fff
	text-align: center

.modal-wrap
	margin: 100px auto
	width: 100%
	max-width: 500px

	h2
		margin: 0 0 25px 

	.modal-back-btn
		display: inline-block
		font-size: 16px
		padding-left: 20px
		position: relative
		margin: 0 0 25px
		cursor: pointer

		&:after
			position: absolute
			content: ''
			width: 38px
			height: 26px
			top: 0
			left: -30px
			background: url(../img/arrow-to-left.png) center no-repeat


.modal-form
	background: #fff
	border-radius: 30px
	padding: 50px

	input
		display: block
		width: 100%
		max-width: 300px
		height: 40px
		line-height: 40px
		margin: 0 auto 20px
		color: #868686
		padding: 0 25px 
		font-size: 15px
		border: 1px solid #868686
		border-radius: 20px
		outline: none
		font-weight: 500
		transition: $a

		&:focus
			box-shadow: 0 5px 20px 0 rgba(0,0,0, .15)
			transition: $a

	button
		@extend .action-button
		height: 50px
		line-height: 50px
		outline: none
		display: block
		margin: 0 auto
		border: none


.modal-container.login .modal-form
	padding: 80px 50px 60px


@media only screen and (max-width : 1200px)
	.comments-promo 
		max-width: 320px

		h2
			font-size: 32px

	.comments-list
		width: 60%


@media only screen and (max-width : 1100px)
	.promo-first
		padding: 120px 0 1px

		.fb-row 
			display: block


		&__action-container
			text-align: center
			margin-bottom: 100px

			img 
				display: inline-block

			p
				margin: 0 auto 40px

			.action-button
				margin: 0 auto

		&__info
			margin: 0 auto 30px

		.promo-first__info-col
			width: 100%
			padding: 0 40px
			+flexbox()
			+flex-flow(row wrap)
			+justify-content(center)
			+align-items(flex-start)

		.promo-first__info-item
			display: inline-block
			vertical-align: middle
			margin: 0 15px 25px

			&.zero-2
				position: relative
				left: auto 
				top: auto

	.promo-details
		padding-top: 30px

	.example h2
		margin: 0 0 40px

	.example__img
		width: 100%
		max-width: 400px

	.example .fb-row
		+flex-flow(column nowrap)
		+justify-content(space-between)
		+align-items(center)

	.comments-list__item

		&-info 
			width: 65%

			h3
				position: static
				margin-bottom: 10px

			h4
				text-align: left
				margin: 0px 0 20px

			p 
				font-size: 14px

		&-photo
			width: 35%

	.example
		padding-bottom: 60px

	.example__img
		display: none

		&--mob 
			display: block



@media only screen and (max-width : 1000px) 
	.promo-second__item

		&:after
			display: none

	.tarrifs .fb-row-top
		+flex-flow(row wrap)
		+justify-content(center)
		+align-items(flex-start)

	.tarrifs__item
		width: 100%
		max-width: 400px
		margin: 0 10px 60px

		&.ti__1 
			padding-top: 100px

			.tarrifs__item-img
				width: 170px
				right: -10px
				top: -11px

		&.ti__2
			padding-bottom: 80px

			.tarrifs__item-img
				width: 180px
				bottom: -30px

		&.ti__3
			padding-top: 150px

			.tarrifs__item-img
				left: -36px
				top: 0
				width: 220px


	.problems

		.fb-row-top
			+justify-content(center)

		&__col
			width: 48%
			margin: 0 1% 40px

			.action-button
				margin: 50px auto 0

	.tarrifs
		padding-bottom: 50px



@media only screen and (max-width : 900px) 
	.promo-first .promo-first__info-item
		margin: 0 15px 70px


		&.zero-1
			padding: 60px 30px 30px
			text-align: center

			img 
				left: 65px

			p 
				margin: 0

		&.zero-2
			padding: 60px 30px 30px
			text-align: center

			img 
				left: 50px

			p 
				margin: 0

		&.zero-3
			padding: 60px 30px 30px
			text-align: center
			margin-bottom: 0

			img 
				bottom: auto 
				top: -38px
				left: 55px

			p 
				margin: 0


	.promo-second__item
		width: 50%
		padding: 0 60px 0 50px

		span 
			left: 20px

	.comments
		padding: 50px 0 70px
		background-size: cover

	.comments-promo h2
		font-size: 26px

	.comments-promo-conteiner
		position: static

	.comments-promo
		max-width: 520px
		margin: 0 auto 40px 
		text-align: center

	.comments-promo .comments-promo-heading
			margin-bottom: 30px

	.comments-list
		width: 100%
		padding: 0 20px

		&__item
			border-radius: 30px
			overflow: hidden

	.problems__item
		padding: 0px 25px 25px 40px

		h3
			font-size: 24px

		p 
			font-size: 14px




@media only screen and (max-width : 800px) 
	.problems
		padding: 50px 0 40px

	.problems__col
		width: 100%
		margin: 0 auto 30px
		max-width: 500px

	.problems .fb-row-top
		display: block

	.promo-second:before,
	.promo-second:after
		display: none




@media only screen and (max-width : 700px) 
	.example
		overflow-x: hidden

	.example__img
		display: none

		&--mob 
			display: block
			width: 100%

	.comments-list__item
		overflow: visible
		margin-bottom: 100px

		&:last-child
			margin-bottom: 30px

	.comments-promo-bot
		margin-bottom: 120px

	.comments-list__item-photo
		width: 120px
		height: 120px
		top: -60px
		left: 50%
		transform: translateX(-50%)
		border-radius: 100%
		box-shadow: 0 5px 30px 0 rgba(0,0,0, .3)

	.comments-list__item-info
		width: 100%
		display: block
		text-align: center
		padding: 80px 30px 30px

		h4 
			text-align: center

	.comments-promo p 
		font-size: 14px




@media only screen and (max-width : 600px) 
	.promo-first
		padding: 170px 0 1px

	.promo-second__item
		width: 100%

	.footer-action-button
		font-size: 14px
		line-height: 1.2
		padding: 20px 15px 
		height: auto

	.header .fb-row-top
		display: block

		.logo 
			margin-bottom: 10px
			margin-left: 5px

	.promo-details:after
		bottom: -65px



@media only screen and (max-width : 500px) 

	.comments-list__item-info 
		padding: 80px 20px 30px

		p
			font-size: 13px
			text-align: left

	.promo-first .promo-first__info-col
		width: 280px
		padding: 0
		margin: 0 auto

	.promo-first__info-item
		width: 100%	

	.problems h2
		font-size: 26px

	.problems__item h3
		font-size: 20px

	.tarrifs__item p
		font-size: 14px

	.footer 
		.fb-row
			display: block

	.footer-soc
		margin: 0 auto 35px
		text-align: center

		a 
			margin: 0 10px

	.footer-privacy
		display: block
		text-align: center

@media only screen and (max-width : 400px) 
